<!DOCTYPE html>
<html>
  <head>
    <title>Smart Something</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" >
  </head>
  <body>
    refresh: <%= refresh %>
  </body>
  <script>
    // setTimeout(() => {
    window.close();
    // }, 500);
    // console.log(window.opener);
  </script>
</html>