#stocks-container {
  text-align: left;
  height: 100%;
}
#stock-list, #crypto-list {
  max-height: 40%;
  overflow: scroll;
}
.up {
  color: #008000;
}
.down {
  color: #ff0000;
}
.symbol, .price, .change {
  display: inline-block;
}
.symbol {
  width: 60%;
}
.price {
  width: 20%;
  text-align: right;
}
.change {
  width: 15%;
  text-align: right;
}