.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}
#song-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#song-info {
  flex: 2;
  width: 100%;
  margin-top: 5px;
}
#song-info p {
  margin: 0 0 5px;
}
#song-title {
  font-size: 1.3em;
}
#artist-name {
  font-size: 1em;
}
#song-status {
  font-size: 0.9em;
}
#song-progress {
  border: 0.15em solid #eee;
  height: 1em;
  display: inline-block;
  width: 70%;
  border-radius: 10px;
}
#song-progress-bar {
  background-color: #eee;
  border: 0.1em solid transparent;
  height: 0.75em;
}
#current-time, #total-time {
  vertical-align: text-bottom;
}
#current-time {
  padding-right: 0.5em;
}
#total-time {
  padding-left: 0.5em;
}