html, body, .container {
  height: 100%;
}
html > body > .container {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  width: unset;
  max-width: 1920px;
  text-align: center;
}
body {
  background-color: #000000db;
  color: #eee;
  font-family: Helvetica, Arial;
  font-size: 2em;
}
ul {
  list-style: none;
  padding-inline-start: 0;
}
.container > .row {
  height: 50%;
}
.module-container {
  text-align: center;
}