#current-location {
  color: #b1b1b1;
  font-size: 18px;
}
#current-temp {
  vertical-align: middle;
  font-size: 30px;
}
#current-icon {
  width: 70px;
}
#current-data {
  display: inline-block;
  vertical-align: middle;
}
#forecast-weather {
  display: flex;
  justify-content: space-between;
}
.forecast-max, .forecast-min, .forecast-day {
  display: block;
  font-size: 18px;
}
.forecast-min {
  color: #b1b1b1;
}