<!DOCTYPE html>
<html>
  <head>
    <title>Smart Something</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" >
  </head>
  <body>
    <%= error %>
  </body>
  <script>
    <% if (!error) { %>
      window.close();
    <% } %>    
  </script>
</html>