html, body {
  height: 100%;
}
.container {
  height: 98%;
}
html > body > .container {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  width: unset;
  max-width: 1920px;
  text-align: center;
}
body {
  background-color: #333739;
  color: #eee;
  font-family: Helvetica, Arial;
  font-size: 2em;
}
a {
  color: #12abea;
}
ul {
  list-style: none;
  padding-inline-start: 0;
}
.container > .row {
  height: 50%;
}
.module-container {
  text-align: center;
}
#loading {
  background-image: url(../images/loading-bar.gif);
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}