<div class="col-sm-8 module-container" id="google-container" >
  <div id="google-login" style="display: none;" >
    <p>Please allow access to your Google Calendar.</p>
    <p style="font-size: 16px;">The calendars that will be displayed are the ones that are selected in the Google Calendar view.</p>
    <a class="btn btn-primary" href="javascript:void(0);" target="_blank" id="gcal-auth-url"  >Connect to Google</a>
  </div>
  <div id="events-list-container" >
    <ul id="events-list"></ul>
  </div>
</div>
<script>
let gCalWindow; 
let gCalInterval;
let gCalTimeout;
let firstLoadCalendar = true, gcalTokenExists = false;

$(function() {
  if ($(window).width() > 767) {
    function getCookies() {
      var cookies = decodeURIComponent(document.cookie).split("; ");
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].split("=");
        var cookieName = cookie[0];
        if (cookieName === "gcal_token") {
          gcalTokenExists = true;
          break;
        }
      }

      if (gcalTokenExists) {
        getCalendarEventsList();
        if (firstLoadCalendar) {
          doneLoading++;
        }
      } else if (firstLoadCalendar) {
        getAuthUrl();
      }
    }

    $("#gcal-auth-url").on("click", getAuthUrl);

    function getAuthUrl() {
      $.ajax({
        url: '/getuserauth',
        success: function(results) {
          if (results.url) {
            gCalWindow = window.open(results.url, '_blank', 'toolbar=0,status=0,width=626,height=700,top=100,left=100');
            gCalInterval = setInterval(checkGoogleWindow, 500);
          }
        }
      });
    }

    function getCalendarEventsList() {
      if (gcalTokenExists) {
        $.ajax({
          url: '/getcalendaritems',
          success: createEventsList,
          error: function (data) {
            document.cookie = "gcal_token=; expires=" + new Date() + "; path=/;";
            gcalTokenExists = false;
            console.log("Something went wrong connecting to your account, please refresh the page.");
          }
        });
      }
    }

    function createEventsList(results) {
      let eventsList = $("#events-list");
      eventsList.empty();
      if (results.events.length) {
        $.each(results.events, (idx, item) => {
          let event = $("<li>", {
            "class": "event",
          });
          let summary = "<span class=\"event-summary\">" + item.summary + "</span>";
          let date = "<span class=\"event-date\">";
          if (item.start.date) {
            date += "All Day";
          } else {
            date += item.timeSpan;
          }
          date += "</span>";
          event.append(summary);
          event.append(date);
          eventsList.append(event);
        });
      } else {
        let event = $("<li>", {
          "class": "event",
        });
        let noEvents = "<span class=\"event-summary\" style=\"text-align: center;\">No events are planned for today. <br/><br/>Enjoy your day off!</span>";
        event.append(noEvents);
        eventsList.append(event);
      }
      $("#google-login").hide();
      $("#events-list-container").show();
      gCalTimeout = setTimeout(getCalendarEventsList, (60 - new Date().getMinutes()) * 60000 + (60 - new Date().getSeconds()) * 60);
    }

    function checkGoogleWindow() {
      if (gCalWindow.closed) {
        clearInterval(gCalInterval);
        if (firstLoadCalendar) {
          doneLoading++;
          firstLoadCalendar = false;
        }
        getCookies();
        if (!gcalTokenExists) {
          $("#google-login").show();
        } else {
          getCalendarEventsList();
        }
      }
    }
    
    getCookies();
  }
});
</script>