<div class="col-sm-4 module-container" id="stocks-container" >
  <ul id="stock-list"></ul>
  <hr />
  <ul id="crypto-list"></ul>
</div>
<script>
let marketTimeout;
let firstLoadMarket = true;
$(function() {
  function getMarketInfo() {
    $.ajax({
      url: "/market",
      success: createMarketInfoList
    });
  }
  
  function createMarketInfoList(data) {
    if (marketTimeout) {
      clearTimeout(marketTimeout);
    }
    let results = data.results;
    if (results.stock) {
      let stocks = results.stock;
      let stockList = $("#stock-list");
      stockList.empty();
      $.each(stocks, (idx, stock) => {
        let $stock = $("<li>", {"class": "stock"});
        let $symbol = $("<span>", {"class": "symbol", "text": stock.symbol});
        let $price = $("<span>", {"class": "price", "text": stock.price});
        // let change = stock.change.replace("-", "- ");
        // change = (stock.change >= 0 ? "+ " : "");
        let $change = $("<span>", { "class": "change " + (stock.change >= 0 ? "up" : "down") , "text": stock.change });
        $stock.append($symbol);
        $stock.append($price);
        $stock.append($change);
        stockList.append($stock);
      });
    }

    if (results.crypto) {
      let cryptos = results.crypto;
      let cryptoList = $("#crypto-list");
      cryptoList.empty();
      $.each(cryptos, (idx, crypto) => {
        let $crypto = $("<li>", {"class": "stock"});
        let $name = $("<span>", {"class": "symbol", "text": crypto.coin});
        let $price = $("<span>", {"class": "price", "text": crypto.price});
        let $change = $("<span>", { "class": "change " + (crypto.change >= 0 ? "up" : "down") , "text": crypto.change });
        $crypto.append($name);
        $crypto.append($price);
        $crypto.append($change);
        cryptoList.append($crypto);
      });
      //autoScroll(cryptoList, 1, results.crypto.length);
    }
    marketTimeout = setTimeout(getMarketInfo, 30000);
    if (firstLoadMarket) {
      firstLoadMarket = false;
      doneLoading++;
    }
  }

  getMarketInfo();
  
});

</script>