<div class="col-sm-4 module-container" id="news-container" >
  <ul id="news-list"></ul>
</div>

<script>
let newsTimeout;
let firstLoadNews = true;
$(function() {
  function getNewsArticles() {
    $.ajax({
      url: "/news",
      success: createNewsList
    });
  }

  function createNewsList(data) {
    let newsList = $("#news-list");
    let articles = data.news;
    newsList.empty();
    $.each(articles, (idx, article) => {
      let $article = $("<li>", {"class": "article"});
      let $title = $("<a>", {"class": "article-title", "text": article.title, "href": article.link })
      let $date = $("<span>", {"class": "article-date", "text": article.time});
      let $source = $("<span>", {"class": "article-source", "text": article.source});

      $article.append($title);
      $article.append($date);
      $article.append($source);
      newsList.append($article)
    });
    newsTimeout = setTimeout(getNewsArticles, (60 - new Date().getMinutes()) * 60000 + (60 - new Date().getSeconds()) * 60);
    if (firstLoadNews) {
      firstLoadNews = false;
      doneLoading++;
    }
  }
  getNewsArticles();
});
</script>