<div class="col-sm-4 module-container" id="time-container" >
  <span id="date-info"></span>
  <span id="time-info"></span>
  <span id="quote"></span>
</div>
<script>
let timeTimeout;
let firstLoadTime = true;
$(function() {
  function getTime() {
    if (timeTimeout) {
      clearTimeout(timeTimeout);
    }
    $.ajax({
      url: '/time',
      data: {
        timezone: 'America/Los_Angeles'
      },
      success: function(data) {

        $("#date-info").text(data.day);
        $("#time-info").text(data.time);
        let $quote = $("#quote");
        if ($quote.text()) {
          $quote.fadeOut(400, 0, function() {
            $quote.text(data.quote);
            $quote.fadeIn(400);
          });
        } else {
          $quote.text(data.quote);
        }

        var timeout = (60 - new Date().getSeconds()) * 1000;
        setTimeout(getTime, timeout);
        if (firstLoadTime) {
          firstLoadTime = false;
          doneLoading++;
        }
      }
    });
  };

  getTime();

});
</script>